<%- include("../partials/header") %>


<div class = "container">
	<header class="jumbotron">
		<div class = "container" id ="welcomJumbotron">
			<h1>
				Welcome to Drive-in Theater Review!
			</h1>
			<p>
				Share Your Experience With Other Movie Lovers
			</p>
			<p>
				<a class ="btn btn-outline-primary btn-lg" href ="/campgrounds/new">Add New Theater</a>
			</p>
		</div>
	</header>
	
	<!-- style = "display:flex"; flex-wrap:wrap;" -->
	<div class="row text-center">
		<% campgrounds.forEach(function(campground){ %>
			<div class= "col-md-3 col-sm-6">
				<div class = "img-fluid img-thumbnail" id ="allcamps" alt="Responsive image">
					<img src = "<%= campground.image%>">
					<div class ="caption">
						<h4><%= campground.name %></h4>
						<% if (campground.rating === 0) { %>
						<em>No reviews yet.</em>
						<% } else { %>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
						<span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
					</div>
					<p>
						<a href = "/campgrounds/<%= campground._id %>" class = "btn btn-primary btn-sm">More Info</a>
					</p>
				</div>
								
			</div>
		<% }); %>	
	</div>
	
</div>

<%- include("../partials/footer") %>	

